@media (max-width: 1200px) {
  .news .center-col {
    display: none;
  }
}

@media (max-width: 992px) {
  .news .main-section {
    h3 {
      text-align: center !important;
    }
    p {
      text-align: center !important;
      font-size: 14px;
    }
  }
}

.news {
  margin-bottom: 90px;

  .row {
    background: #0063ff;
    border-radius: 10px;
  }

  .main-section {
    color: #ffffd7;

    h3 {
      padding-bottom: 15px;
    }
  }
  .subscribe {
    .input-group {
      input {
        border: none !important;
        padding-left: 25px;
        box-shadow: none;
      }
    }
    span {
      background: #292d32;
      color: white;
      border: none;
      padding: 15px 25px;
    }
  }
}
