// @media (max-width: 768px) {
//   .main-section .category-container .category-wrap {
//     gap: 0px !important;
//     justify-content: space-between !important;
//     .category-list {
//       a {
//         font-size: 14px !important;
//       }
//     }
//   }
// }

@media (max-width: 992px) {
  .main-section .category-container .category-wrap {
    gap: 0 !important;
    justify-content: space-between !important;
    .category-list {
      a {
        font-size: 14px !important;
      }
    }
  }
}

.main-section {
  .category-container {
    .category-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 35px;

      .category-list {
        img {
          margin: 0 auto 10px;
          display: flex;
          text-align: center;
        }
        .title {
          text-decoration: none;
          font-size: 18px;
          font-weight: 600;
          color: #292d32;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

.banner {
  margin-bottom: 70px;
}
