.filter-wrapper {
  h3 {
    color: #a4a4b8;
    font-weight: bold;
  }

  .first-col {
    margin-top: 30px;
    h6 {
      font-size: 20px;
      padding-bottom: 12px;
      color: #292d32;
    }
    .filterOptionbox .form-radio .form-check {
      margin-top: 24px;

      input {
        background-image: none;
        // background: #ff7900;
        border-radius: 25px;
      }
      .form-check-input:focus {
        // background-color: #ff7900 !important;
        // border-color: #ff7900 !important;
        box-shadow: none;
      }

      .form-check-input:checked {
        background-color: #ff7900 !important;
        border-color: #ff7900 !important;
        width: 15px;
        height: 15px;
      }

      //   .form-check-ipout
    }
  }
}
