.product-list {
  padding: 0px 35px;
  .custom-breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
    .active {
      color: #292d32;
    }
    li {
      &::before {
        content: none;
      }
      display: inline;
      &::after {
        content: ">";
        margin: 0 0.5rem;
      }
    }

    li:last-child::after {
      content: none;
    }

    li a {
      text-decoration: none;
      content: none;
      color: gray;
    }
    li a .active {
      color: #292d32;
    }
  }

  .productlist-wrapper {
    margin-bottom: 30px;
    .text-dark {
      font-weight: 600 !important;
    }
    .dropdown-wrapper {
      border: 2px solid #f5f5fc;
      padding: 3px 20px;
      border-radius: 22px;
      display: flex;
      align-items: center;
      .dropdown-inner .btn-show {
        color: transparent;
      }
      .dropdown-inner {
        .form-select {
          font-size: 16px;
          color: #292d32;
          background-image: url(../../img/arrow.svg);
          border: none;

          &:focus {
            box-shadow: none !important;
          }
        }
      }
    }
  }

  .pagination-cover {
    margin-top: 30px;
    .pagination .page-item #pagPrev {
      padding: 0px;
    }
    .pagination .page-item #pagNext {
      padding: 0px;

      &:focus {
        background-color: transparent;
        color: transparent;
        box-shadow: none;
      }
    }
    ul {
      display: flex;
      align-items: center;
      li #pagPrev a {
        padding: 0;
      }
      li {
        margin-right: 10px;
        span {
          border-radius: 4px;
        }
      }
    }
  }
}
