.profile-wrapper {
  .main-header {
    padding-bottom: 20px;
    margin-bottom: 41px;
    h2 {
      text-align: center;
      color: #292d32;
      font-size: 36px;
      font-weight: bold;
    }
  }
}
