.garden {
  margin-bottom: 97px;

  .main-heading {
    span {
      font-size: 14px;
      font-weight: 600;
      color: var(--secondary-color);
      background-color: #f5f5fc;
      border-radius: 16px;
      padding: 8px 16px;
      margin-left: 12px;
      text-transform: capitalize;
    }
  }

  .custom-link {
    color: #292d32;
    span {
      margin-right: 10px;
    }
  }

  .slick-slider {
    .slick-slide {
      padding: 0px 12px;
      .cust-card {
        padding: 0 12px 0 0;
        height: auto;
        cursor: pointer;
        border-radius: 20px;
        overflow: hidden;
        margin-bottom: 0 !important;
        .card {
          border: 2px solid #f5f5fc;
          border-radius: 20px;
        }
      }
    }
    .slick-prev {
      background-color: #0063ff;
      border-radius: 50%;
      z-index: 2;
      left: -50px;
      height: 24px;
      width: 26px;
      &.slick-prev:before {
        justify-content: center;
        align-items: center;
        display: flex;
        font-family: "slick";
        font-size: 32px;
        line-height: 1;
        opacity: 1;
        color: #f5f5fc;
        -webkit-font-smoothing: antialiased;
      }
    }

    .slick-next {
      z-index: 2;
      background-color: #0063ff;
      border-radius: 50%;
      right: -38px;
      height: 24px;
      width: 26px;

      &.slick-next:before {
        justify-content: center;
        align-items: center;
        display: flex;
        font-family: "slick";
        font-size: 32px;
        line-height: 1;
        opacity: 1;
        color: #f5f5fc;
        -webkit-font-smoothing: antialiased;
      }
    }
    ul {
      display: none;
    }
    .card-title {
      // height: 50px;
    }
  }
}
