.cust-card {
  margin-bottom: 90px;

  .card {
    border: 2px solid #f5f5fc;
    border-radius: 20px;
  }

  .card-body {
    p {
      font-size: 16px;
    }

    .price-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .price {
        display: flex;
        align-items: center;

        .currency-type {
          font-size: 24px;
          font-weight: 600;
        }
        .currency {
          font-size: 30px;
          font-weight: 600;
        }
        .real-price {
          margin-left: 10px;
        }
      }
      .discount-wrapper {
        font-size: 10px;
        .discount {
          background-repeat: no-repeat;
          background-size: 35px 35px;
          // width: 54px;
          // height: 51px;
          color: white;
          padding: 9px;
          background: url("../../../img/blue-discount-polygon.svg");
          display: flex;
          align-items: center;
          justify-content: center;
          // font-size: 14px;
          background-repeat: no-repeat;
          background-size: 34px 34px;
          text-align: center;
        }
      }
    }
  }
}
