// Large devices (desktops)

@media (max-width: 1400px) {
  .nav-main {
    padding: 5px 18px !important;
  }
}
@media (max-width: 1200px) {
  .nav-main {
    padding: 5px 18px !important;
  }
}

@media (max-width: 992px) {
  .nav-main {
    padding: 5px 18px !important;
    svg {
      margin-right: 10px;
    }
  }
  .nav-main .center-column {
    padding: 0px;
  }
  .nav-main .center-column form .input-group {
    width: 348px !important;
  }
}

@media (max-width: 768px) {
  .nav-main {
    padding: 0px !important;
  }
  .nav-main .center-column form .input-group {
    width: 100% !important;
  }
}

// small devices (mobile)
@media (max-width: 576px) {
  .nav-main {
    padding: 0px !important;
  }
}

.nav-main {
  padding: 10px 35px;

  box-shadow: 0px 3px 16px #292d320d;
  .navbar-brand img {
    width: 150px;
  }
  .input-group {
    width: 450px;
  }

  .input-group input {
    padding: 10px;
  }

  .btn-search {
    background-color: #0063ff !important;
    border-radius: 0 10px 10px 0;
    border: 0;
  }

  .form-control:focus {
    background-color: transparent;
    border-color: rgb(222, 226, 230);
    outline: 0;
    box-shadow: none;
  }

  .right-column {
    padding: 0;
    .nav-link {
      position: relative;

      .card-amount {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 3px;
        right: 7px;
        width: 22px;
        height: 22px;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        background-color: #0063ff;
        border-radius: 50%;
        color: #fff;
      }
    }
    .dropdown-wrapper {
      position: relative;
      display: inline-flex;

      .user-details {
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        color: #292d32;
      }

      .dropdown-body-wrapper {
        margin: 34px 0px;
      }

      &:hover .dropdown-body {
        display: block;
      }
    }

    .dropdown-body {
      position: absolute;
      border-radius: 2%;
      top: 65px;
      display: none;
      left: -15px;

      ul li {
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        text-align: left;
        // margin: 15px 0px;
      }

      .dropdown-item a {
        color: #292d32;
        list-style: none !important;
        text-decoration: none;
        cursor: pointer;
        display: block;
        padding: 10px 0px 0px 10px;
      }
      .dropdown-item a:hover {
        color: #0063ff;
      }
      .dropdown-btn {
        padding: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }

      .btn {
        color: white;
        background: #0063ff;
        width: 184px;
        line-height: 24px;
        padding: 7px;
        text-align: center;
        .dropdown-item {
          text-decoration: none;
        }
      }
    }
  }
}
// }
