@media (max-width: 576px) {
  .slick-slider {
    .slick-prev {
      right: -3px !important;
      height: 25px !important;
      width: 25px !important;
    }
    .slick-next {
      right: -3px !important;
      height: 25px !important;
      width: 25px !important;
    }
  }
}

.deals {
  margin-bottom: 100px;

  .custom-link {
    color: #292d32;
    span {
      margin-right: 10px;
    }
  }

  .slick-slider {
    .slick-slide {
      div {
        // margin-right: 10px;
      }
    }
    .slick-prev {
      background-color: #0063ff;
      border-radius: 50%;
      z-index: 2;
      left: -50px;
      height: 37px;
      width: 35px;
    }

    .slick-next {
      z-index: 2;
      background-color: #0063ff;
      border-radius: 50%;
      right: -50px;
      height: 37px;
      width: 35px;
    }
    .card {
      border: 2px solid #f5f5fc;
      border-radius: 20px;

      .card-body {
        p {
          margin-bottom: 10px;
        }
        .card-title {
          height: 50px;
          font-size: 16px;
        }
      }
    }
  }
}
