footer {
  background-color: #222222;
  padding-top: 70px;
  padding-bottom: 30px;
  h4 {
    color: #ffffff;
  }
  a {
    text-decoration: none;
    color: #a4a4b8;
    text-align: left;
  }
  p {
    color: #a4a4b8;
  }
  .social-icon {
    height: 40px;
    width: 40px;
    background-color: #ff7900;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 16px !important;
  }

  .cust-border {
    border-top: 3px solid;
  }
}
