footer {
  background-color: #222222;
  padding-top: 70px;
  padding-bottom: 30px;
  h4 {
    color: #ffffff;
  }
  a {
    text-decoration: none;
    color: #a4a4b8;
    text-align: left;
  }
  p {
    color: #a4a4b8;
  }

  .cust-border {
    border-top: 1px solid #646464;

    .icon-list {
      ul {
        li {
          display: inline-flex;
          a {
            height: 40px;
            width: 40px;
            background-color: #ff7900;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
          }
        }
      }
    }
    .third-ft-part {
      #first-li {
        padding-right: 10px;
        margin-right: 10px;
        border-right: 2px solid #a4a4b8;
      }
    }
  }
}
