footer{
    background-color: #222222;
h4{
    color: #FFFFFF;
}
 a{
    text-decoration: none;
    color: #A4A4B8;
    text-align: left;
 }
 p{
    color: #A4A4B8;

 }
 .social-icon{
height: 40px;
  width: 40px;
  background-color: #ff7900;
  border-radius: 50%;
padding: 0;
align-items: center;
justify-content: center;
 }
}