.trending {
  margin-bottom: 90px;

  .custom-link {
    span {
      margin-right: 10px;
    }
  }
  .group-box {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;

    .item-list {
      width: 167px;
      display: flex;
      flex-flow: column;
      align-items: center;
      img {
        background: #f5f5fc;
        padding: 20px;
        border-radius: 50%;
        width: 150px;
      }

      span {
        position: relative;
        bottom: 20px;
        background: orange;
        padding: 0 10px;
        border-radius: 16px;
      }
    }
  }
}
